<!-- Application -->
<div class="todo-container">

<h1>Loopback angular2 todolist example</h1>

  <!-- input box -->
  <form class="add-todo-container row">
    <div class="col-xs-10">
      <input class="form-control" type="text" placeholder="new todo" name="title" [(ngModel)]="form.title">
    </div>
    <div class="col-xs-2">
      <button class="btn btn-primary" (click)="create()">Add</button>
    </div>
  </form>
  <!-- /. input box -->


  <!-- item box -->
  <ul class="list-group">
    <li class="list-group-item row" *ngFor="let item of list;  let i = index" [attr.data-index]="i">
      <!-- <div class="col-xs-1">
        <input type="checkbox">
      </div> -->
      <div class="col-xs-10">{{item.title}}</div>
      <div class="col-xs-1">
        <button type="button" class="close" aria-label="Close" (click)="delete(item.id, i)">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </li>
  </ul>
  <!-- /. item box -->

</div>

<div class="too-small"> This site does not support mobile. </div>
